/* GENERAL */
a { color: #000000; }

h3 { font-weight: 100; }

html, body { 
    font-family: Inconsolata, 'Microsoft YaHei', 'SimHei', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Noto Sans CJK TC', monospace;
    height: 100%;
    text-align: center;
}

h1 { font-family: 'Unica One', sans-serif; }

h2 {
    font-size: 350%;
    font-family: 'Unica One', sans-serif;
}

/* https://stackoverflow.com/questions/9251354/css-customized-scroll-bar-in-div/14150577#14150577 */

.underline { text-decoration: underline; }

.container {
    display: flex;
    flex-direction: column;
}

.row { flex-direction: row; }

@media (min-width: 320px) {
    .container .main {
        align-items: center;
    
    	flex-direction: column;
    	margin: 0 10%;
    }
}

@media (min-width: 961px) {
    .container .main {
        flex-direction: row;
        margin: 0 5%;
    }
}

/* HEADER */
#home {
    background-color: #292B37;
    color: #e8e8e8;
    height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

#home a { 
    color: #e8e8e8;
    text-decoration: none;
}

#announcements div {
    background: #d34747;
    border-radius: 7px;
    margin: 10px 0;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

#announcements .fa { padding: 0 3px 0 0; }

#announcements h3 {
    margin: 0;
    padding: 0 0 0 3px;
}

@media (min-width: 320px) {
    .header { 
    	padding: 0;
    	/* margin-bottom: -45px; */
    }
	
    .sidebar {
    	padding: 0;
    	border: none;
    }
	
    #announcements { margin: 1% 7%; }
	
    #announcements div h3 { font-size: 100%; }
	
    h1 { font-size: 450% }
}

@media (min-width: 961px) {
    .header { padding-right: 20px; }

    .sidebar {
        text-align: left;
        padding-left: 20px;
        border-left: solid #e8e8e8 2px;
    }
	
    #announcements { margin: 5%; }
	
    #announcements div h3 { font-size: 110%; }
	
    h1 { font-size: 500% }
}

.menu { text-align: center; }

/* CONTENTS */

.content { padding: 10px; }

/* COLORS */
.blue { color: #609dff; }
.lime { color: #a1dd46; }
.yellow { color: #efe358; }
.purple { color: #aaa6ed; }
.orange { color: #D28D5D; }
.red { color: #DC3A3B; }
.rotomblue { color: #5ba8ff; }
